<div class="container">
  <h2>Welcome to Hot Reads</h2>

  <% @links.each do |link, count| %>
    <div class="link-item">
      <%= link_to link, link %> - <%= count %>
      <hr>
    </div>
  <% end %>

</div>
